html {
  background-color: #222;
  color: white;
}
.title {
  color: #f9c74f;
}
.subtitle {
  color: #43aa8b;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navv {
  display: flex;
  flex: 1;

  /* align-items: stretch; */
  border: solid #f94144 20px;
  width: 700px;
}
button {
  height: 50px;
  width: auto;
  background-color: #43aa8b;
  font-size: medium;
  align-self: flex-start;
}
select {
  height: 50px;
  width: auto;
  font-size: medium;
  align-self: flex-end;
  /* justify-self: flex-end; */
}
td {
  height: 50px;
  width: 50px;
  background-color: grey;
  transition: background-color 0.5s ease;
}
.red {
  background-color: #f94144;
}
.orange {
  background-color: #f3722c;
}
.yelloworange {
  background-color: #f8961e;
}
.maize {
  background-color: #f9c74f;
}
.pistachio {
  background-color: #90be6d;
}
.zomp {
  background-color: #43aa8b;
}
.blue {
  background-color: #577590;
}
