html {
  background-color: #222;
  color: white;
}
.title {
  color: #f9c74f;
}
.subtitle {
  color: #43aa8b;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 50px;
  width: auto;
  background-color: #43aa8b;
}
td {
  height: 50px;
  width: 50px;
  background-color: grey;
  transition: background-color 0.5s ease;
}
.red {
  background-color: #f94144;
}
.orange {
  background-color: #f3722c;
}
.yelloworange {
  background-color: #f8961e;
}
.maize {
  background-color: #f9c74f;
}
.pistachio {
  background-color: #90be6d;
}
.zomp {
  background-color: #43aa8b;
}
.blue {
  background-color: #577590;
}
